# Java
*.class
*.jar
*.war
*.nar
*.ear
*.log
*.ctxt
.mtj.tmp/
target/

# Node.js
node_modules/
dist/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.tar.gz

# JVM crash logs
hs_err_pid*
replay_pid*
